<h1>New Bebida</h1>

<%= render 'form', bebida: @bebida %>

 <br>
  
    <nav class="navbar navbar-expand-sm bg-light justify-content-center">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to 'Volver', bebidas_path, class:'nav-link' %>
        </li>    
      </ul>
    </nav>

<br>
