<h1>New Fondo</h1>

<%= render 'form', fondo: @fondo %>

<br>
  
    <nav class="navbar navbar-expand-sm bg-light justify-content-center">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to 'Volver', fondos_path, class:'nav-link' %>
        </li>    
      </ul>
    </nav>

  <br>
